<nav>
    <ul>
        <li><a routerLink="/"> Accueil </a></li>
        <li>   
            <a routerLink="/demo">Demo</a>

            <ul>
                <li><a routerLink="/demo/demo1">Demo 1 - Les Bindings</a></li>
                <li><a routerLink="/demo/demo2">Demo 2 - Les Pipes</a></li>
            </ul>
        
        </li>
        <li>
            <a routerLink="/exercice">Exercice</a>
            <ul>
                <li><a routerLink="/exercice/exo1">Exercice 1 - Le timer</a></li>
            </ul>
        </li>
    </ul>
</nav>
