nav {
    background-color: lightgrey;
    min-height: 100%;
    width: 20vw;
    padding: 0 1%;
}

ul {
    margin: 0;
}

a {
    color : darkslategray;
    text-decoration: none;
}

a:visited {
    color : darkslategray;
    text-decoration: none;
}

a:hover {
    color : goldenrod
}