nav {
    background-color: lightgrey;
    height: 100vh;
    width: 20vw;
    padding: 5% 1%;
}

ul {
    margin: 0;
}

a {
    color : darkslategray;
    text-decoration: none;
}

a:visited {
    color : darkslategray;
    text-decoration: none;
}

a:hover {
    color : goldenrod
}