<h2>Routing et Fake Crud</h2>
<div class="chapter">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let formateur of list">
                <td>{{formateur.nom}}</td>
                <td>{{formateur.prenom}}</td>
                <td>
                    <a routerLink="/demo/editFormateur/{{formateur.id}}"><button>📝</button></a>
                    <button (click)="deleteFormateur(formateur.id)">🗑</button>
                </td>
            </tr>
        </tbody>
    </table>

    <a routerLink="/demo/ajoutFormateur"><button>Ajouter un formateur</button></a>
</div>