.card {
    width: 175px;
    padding: 2% 1%;
    height: 250px;
    text-align: center;
    background-color: lightgray;
  }
  
  .card * {
      margin-bottom: 5%;
  }
  
  .card img {
      width: 100px;
  }