/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.chapter {
    background-color: rgb(206, 230, 206);
    padding: 1% 2%;
    width: 70vw;
    margin-bottom: 2%;
}

button {
    background-color: black;
    margin: 1%;
    border: 1px solid black;
    padding: 0.5% 2%;
    color : white;
}

button:hover {
    background-color: white;
    color : black
}

button:disabled {
    background-color: rgb(190, 190, 190);
    color: rgb(129, 129, 129);
    border : 1px solid rgb(129,129,129)
}

h2 {
    color: rgb(86, 110, 86);

}